.form-container .drop-container {
    float: left;
    position: relative;
}
.form-container .drop-container>.ant-col {
    display: inline-block;
}
.form-container .child-item {
    display: inherit;
}
.form-container .drop-container.single>.ant-col {
    display: block;
}
.preview-box.form-container .drop-container>.ant-col {
    width: 100%;
}