.drop-container {
    position: relative;
    vertical-align: middle;
    width: 100%;
    min-height: 40px;
}
.drop-container .ant-tabs-bar {
    margin-bottom: 0;
}
.drop-container:hover>.icon-operation {
    display: block;
}
.drop-container>.icon-operation {
    right: 0;
    top: 0;
    display: none;
}